html{
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
}

.container{
    max-width: 1160px;
    margin: 0 auto;
}

.subtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.small-paragraph{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}

h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
}

h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
    text-align: center;
}

.btn{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%; 
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    padding: 16px 95px;
    border-radius: 25px;
}

.btn-rect{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%; 
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    padding: 16px 95px;
    border-radius: 5px;
}

.btn-rect:hover, .btn-rect:active{
    background: #4B9200;
}

.btn:hover, .btn:active{
    background: none;
    opacity: 1;
    background-color:#4B9200;
}

.header{
    background-color: #000000;
}

.header__container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.header__logo{
    margin-right: 63px;
    margin-top: 14px;
    margin-bottom: 14px;
    padding: 4px 5px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.header__left{
    display: flex;
    align-items: center;
}

.header__list{
    display: flex;
    flex-wrap: wrap;
}

.header__item{
    margin-right: 58px;
}

.header__link{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
}

.header__link:hover, .header__link:active{
    color: #FB8736;
}

.intro{
    background-image: url(../assets/intro-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 390px;
}

.info__container h3{
    text-align: start;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.info__description{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.info__title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 130%;
    color: #FE9013;
    margin-bottom: 60px;
}

.pick-feed{
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding-top: 70px;
    padding-bottom: 180px;
}

.pick-feed__container{
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(4px);
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 75px;
}

.pick-feed__text{
    margin-left: 100px;
}

.pick-feed__title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
    margin-bottom: 30px;
}

.pick-feed__progressbar{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 976px;
    padding: 8px 26px;
    background: #404950;
    border-radius: 2px;
    position: relative;
}

.pick-feed__progressbar .line{
    position: absolute;
    bottom: 8px;
    height: 2px;
    width: 915px;
    background: #72828E;
}

.form_radio{
    display: flex;
    flex-direction: column;
    position: relative;
}

.form_radio input[type='radio'] {
    position: relative;
    height: 22px;
    width: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
  }
  
  .form_radio input[type='radio']::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FFEE2E;
    transform: translate(-50%, -50%);
    visibility: visible;
  }
  
  .form_radio input[type='radio']:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FFEE2E;
    transform: translate(-50%, -50%);
    visibility: visible;
    border: 3px solid #404950;
     box-shadow:
       0 0 0 2px #FE9013,
       0 0 0 6px #404950,
       0 0 0 10px #404950,
       0 0 0 12px #FE9013;
  }

.form_radio label{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;
    color: #333B41;
    position: absolute;
    top: 30px;
    left: -26px;
}

.pick-feed__subtitle{
    margin-bottom: 40px;
}

.pick-feed__presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.pick-feed__presentation-cross{
    margin-left: 11px;
    margin-right: 64px;
}

.pick-feed__presentation .number{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 11px;
}

.pick-feed__presentation .text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%; 
    text-align: center;
    color: #333B41;
}

.pick-feed__account{
    width: 264px;
    height: 54px;
    border: 1px solid #929699;
    border-radius: 2px;
    margin-top: 100px;
    margin-left: 92px;
}

.pick-feed__account input[type="number"]::-webkit-outer-spin-button,
.pick-feed__account input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
.pick-feed__account input{
    background-color: transparent;
    border: none;
}

.pick-feed__account input{
    padding: 16px 9px;
    padding-right: 20px;
}

.pick-feed__choice{
    margin-top: 6px;
    display: flex;
    justify-content: center;
}

.choice_radio{
    display: flex;
    margin-right: 50px;
}

.choice_radio label{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%; 
    color: #333B41;
    margin-left: 10px;
}

.choice_radio input[type='radio'] {
    position: relative;
    height: 22px;
    width: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
  }
  
  .choice_radio input[type='radio']::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #F9804B;
    transform: translate(-50%, -50%);
    visibility: visible;
  }
  
  .choice_radio input[type='radio']:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #4B9200;
    transform: translate(-50%, -50%);
    visibility: visible;
  }

.pick-feed__btn{
    margin-top: 56px;
    text-align: center;
}

.pick-feed__end-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    text-align: center;
    margin-top: 46px;

}

.footer{
    padding-top: 40px;
    background: #000000;
    padding-bottom: 50px;
}

.footer__top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 36px;
}

.footer__logo{
    padding: 4px 5px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.footer__subtitle{
    color: #FFFFFF;
    margin-bottom: 14px;
}

.footer__form{
    display: flex;
}

.footer__input{
    margin-right: 10px;
}

.footer__input input{
    width: 228px;
    height: 42px;
    border-radius: 2px; 
    background-color: transparent;
    border: 1px solid #F9804B;
}

.footer__input input::placeholder{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
    padding: 10px;
}

.footer__form-btn .btn-rect{
    outline: none;
    border: none;
    background: #F1F3F2;
    border: 1px solid #000000;
    color: #000000;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    padding: 10px 39px;
}

.footer__form-btn .btn-rect:hover, .footer__form-btn .btn-rect:active{
    border: 1px solid #4B9200;
    color: #4B9200;
}

.footer__form-btn{
    margin-top: 10px;
}

.footer__btn{
    margin-bottom: 60px;
}

.footer__btn .btn-rect{
    padding: 15px 50px;
}

.footer__btn .btn-rect:hover, .footer__btn .btn-rect:hover{
    background-color: #4B9200;
}

.footer__menu{
    display: flex;
    align-items: flex-end;
}

.footer__nav{
    margin-right: 155px;
}

.footer__list{
    display: flex;
    flex-wrap: wrap;
}

.footer__item{
    margin-right: 58px;
}

.footer__item:last-child{
    margin-right: 0;
}

.footer__link{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__link:hover, .footer__link:active{
    color: #FB8736;
}

.footer__socials{
    margin-right: 288px;
}

.footer__social a{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
}

.footer__social a:hover .footer__social-img, .footer__social a:active .footer__social-img{
    background: #4B9200;
}

.footer__social a:hover .footer__social-title, .footer__social a:active .footer__social-title{
    color: #4B9200;
}

.footer__social:last-child{
    margin-bottom: 0;
}

.footer__social-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
    margin-right: 12px;
    
}

.footer__social-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%; 
    color: #FFFFFF;
}

.footer__author a{
    text-decoration: none;
}

.footer__author a p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 130%;  
    color: #FFFFFF;
    margin-top: 10px;
}

.footer__author a p:hover, .footer__author a p:active{
    color: #4B9200;
    text-decoration:underline;
    text-underline-position: under;
}